.button {
  font-family: FuturaNo2D, Century Gothic, AppleGothic, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 2px;
  border-color: transparent;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  opacity: 0.9;
  min-width: 200px;
  height: 30px;
  line-height: 1.8;
}

button.button:disabled {
  color: black;
  background-color: rgba(0,0,0,.5);
  transform: none;
  opacity: 1;
  pointer-events: none;
}

.button:hover {
  opacity: 1;
  transform: scale(1.02);
}

.button.btn-primary {
  background-color: var(--color-primary);
}

.button.btn-secondary {
  background-color: var(--color-secondary);
}
