.gamer-select-form {
  display: flex;
  flex-direction: column;
}

.gamer-select-form .actions {
  display: flex;
  justify-content: flex-end;
  padding: 10px 0;
  gap: 10px;
}

.gamer-select-form .gamers {
  gap: 2%;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.selectable-gamer-card {
  width: 49%; /* account for the gap between cards */
  margin-bottom: 10px;
}

.selectable-gamer-card input {
  position: absolute;
  top: -9999%;
}

.selectable-gamer-card input:checked ~ .gamer-card {
  opacity: 1;
  color: white;
}

.selectable-gamer-card input:not(:checked) ~ .gamer-card:hover,
.selectable-gamer-card input:not(:checked) ~ .gamer-card:active,
.selectable-gamer-card input:not(:checked) ~ .gamer-card:focus {
  opacity: 0.6;
}
