.gamenight {
  max-width: 840px;
  margin: 0 auto;
}

.gamenight .actions {
  display: flex;
  flex-direction: column;
}

.gamenight .actions button:not(:last-child) {
  margin-bottom: 10px;
}

.gamenight .status {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  column-gap: 20px;
}

.gamenight .status .card {
  opacity: 1;
}

.gamenight .status .card:not(:last-child) {
  margin-bottom: 5px;
}

@media (max-width: 600px) {
  .gamenight {
    margin: 0;
    grid-template-columns: 1fr;
  }
  .gamenight .status .column:not(:last-child) {
    margin-right: 0;
  }
}
