.nav {
  min-height: var(--min-header-height);
  margin: 0 -2rem;
  padding: 0 2rem;
  color: white;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: space-between;
}

.nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav ul li {
  display: flex;
  align-items: center;
  position: relative;
}

.nav ul li a {
  padding: 10px;
}

.nav ul li.active {
  background-color: var(--color-primary);
  border-radius: 5px;
}

.nav ul li:not(.active, .branding):hover {
  background-color: black;
  border-radius: 5px;
}

.right li:not(:last-child) {
  margin-right: 20px;
}

.branding {
  cursor: pointer;
  margin-right: 2rem;
}
